{% load static %}

<nav>
    <div class="navbarComplete-component">
        <div class="itens-component">
            <div class="logo-component">
                <a href="/">
                    <!--Link da imagem-->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/SENAI_S%C3%A3o_Paulo_logo.png" alt="Logo" class="logoImage-Component">
                </a>
            </div>
            <div class="menuItens-component">
                <a href="faq" class="faqButton-component">FAQ</a>
            </div>
            <div class="Buttons-component"><a id="theme-toggle" class="IconButton-homepage">
                <span class="material-symbols-outlined darkModeHomepage">
                    contrast
                    </span>
                </a>
                <a href="login" class="PrimaryButton-component">Entrar</a>
            </div>
        </div>
    </div>
</nav>